<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
-->
    <title>Sitio de...</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block css_extras %}

    {% endblock css_extras %}

  </head>



  <body>
    <header>
    </header>
{% block contenido %}

{% endblock contenido %}
  <main>

  </main>

      <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <a href="#">Ir arriba</a>
          </p>
          <p>Sitio desarrollado en el Info por la comision 4</p>
        </div>
      </footer>


  </body>
</html>
